@charset "utf-8";
* {
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

#sub {
	width: 100%;
	height: 9000px;
}

#empty {
	width: 100%;
	height: 100px;
	background-color: burlywood;
}

section {
	width: 100%;
	height: auto;
	background-color: darkgreen;
}

@media (max-width: 1930px) {
	#halloween {
		width: 80%;
		height: 800px;
		margin: 0 auto;
		background-color: #eee;
		border: 3px solid black;
		border-radius: 10px;
		box-shadow: darkgray;
	}

	#halloween > .title {
		width: 60%;
		height: 50px;
		margin: 0 auto;
		background-color: cyan;
		text-align: center;
	}

	.cardi {
		height: 600px;
	}

	.you {
		width: 100px;
		height: 100px;
		border: 2px solid darkcyan;
		margin-left: 10px;
		margin-top: 10px;
		border-radius: 10px;
	}

	.images {
		width: 400px;
		height: 150px;
		background-color: darkorange;
		display: flex;
	}

	#boundary {
		width: 100%;
		height: 550px;
		background-color: darkolivegreen;
	}

	.box {
		width: 400px;
		height: 500px;
		position: absolute;
		top: 250px;
		left: 900px;
		background-color: chartreuse;
		border-radius: 10px;
		margin: 50px 100px 100px 100px;
	}

	.box img {
		width: 100%;
		height: 450px;
		position: relative;
		left: -550px;
		margin-top: 20px;
	}

	.tag {
		font-weight: bold;
	}

	.box button {
		width: 100px;
		height: 50px;
		font-size: 15px;
		color: white;
		display: inline-flex;
		justify-content: center;
		text-align: center;
		float: left;
		flex-wrap: nowrap;
		border: none;
		background-color: #01b1af;
		border-radius: 5px;
		margin-left: 20px;
		transition: all ease;
	}

	#ad1 {
		width: 100%;
		height: 500px;
		background: yellow;
	}
}
.fit {
	text-align: center;
}

#middle {
}
